@import "tailwindcss";
@plugin "daisyui";

:root{
  background-color: #F5F5F5;
}


.faah-purple-gradient {
  background: linear-gradient(45deg, #632EE3, #9F62F2);
}

.faah-green-gradient {
  background: linear-gradient(45deg, #54CF68, #00827A);
}